<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
</head>
<!--引入通用JS、css资源-->
<div th:replace="common/staticImport :: common_resource"></div>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h1>今日信息收集情况</h1>
                    <h3 id="h3">填写进度:   231/452</h3>
                    <div class="progress progress-striped active">
                        <div id="completeDiv" style="width: 70%" class="progress-bar progress-bar-success">
                            30% Complete (success)
                        </div>
                        <div id="dangerDiv" style="width: 30%" class="progress-bar progress-bar-danger">
                            40% Complete (danger)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>未提交学生列表</h5>
                            </div>
                            <div class="ibox-content">
                                <table id="noStatusInfoTable"
                                       class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                    <tr>
                                        <th width="25%">姓名</th>
                                        <th width="25%">学号</th>
                                        <th width="25%">学院</th>
                                        <th width="25%">班级</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>已提交学生列表</h5>
                            </div>
                            <div class="ibox-content">
                                <table id = "StatusInfoTable" class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                    <tr>
                                        <th width="12.5%">提交ID</th>
                                        <th width="12.5%">姓名</th>
                                        <th width="12.5%">学号</th>
                                        <th width="12.5%">学院</th>
                                        <th width="12.5%">班级</th>
                                        <th width="12.5%">体温</th>
                                        <th width="12.5%">是否发烧</th>
                                        <th width="12.5%">提交时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/OJ/statistics/today.js}"></script>
</body>

</html>